<% include ./HeaderFooter/Header.ejs %>

<div id="section" class="col">
<section>
    <h1>전시할 내용</h1><br>
    <h1>전시할 내용</h1><br>
    <h1>전시할 내용</h1><br>
    <h1>전시할 내용</h1><br>
    <h1>전시할 내용</h1><br>
    <h1>전시할 내용</h1><br>
    <h1>전시할 내용</h1><br>
    <h1>전시할 내용</h1><br>
    <h1>전시할 내용</h1><br>
    <h1>전시할 내용</h1><br>
    <h1>전시할 내용</h1><br>
    <h1>전시할 내용</h1><br>
    <h1>전시할 내용</h1><br>
</section>
</div>

<% include ./HeaderFooter/Footer.ejs %>