<% include ./HeaderFooter/Header.ejs %>

<div id="section" class="col">
<section>
    <article style="margin-top:200px;margin-left:6%">
		<div class="row">
		<span id="main-title">
			
			<span class="main-keyword">MARU</span> Developer
			
			<span class="main-keyword col">&nbsp;&nbsp;&nbsp;&nbsp;이상민</span>
			
		</span><br>
		</div>
		<div class="row">
		<span class="sub-title col-xl-5">maruware page : <a href="http://www.maruware.co.kr/">www.maruware.co.kr</a></span>
		<span class="sub-title col">E-mail : c.moon9@outlook.com</span>
		</div>
		<br><br>
		<p id="pot-content"> 이상민의 <b>Node.js, Vue.js, Nuxt.js를 이용한 게시판, 지도 앱, 채팅 앱, Vue Server Side rendering 포트폴리오</b>입니다.<br>
		    본 포트폴리오는 <b>웹브라우저 '크롬'</b>에서 1920 X 1080 해상도 풀 스크린 및 하프 스크린에서 원활하게 작동합니다.</p>
	</article>
</section>
</div>

<style>
#main-title{
	font-size:75px;
	font-weight:900;
}

.sub-title{
	font-size:25px;
}

#pot-content{
	font-size:18px;
}

.main-keyword{
	color:#563d7c;
</style>

<% include ./HeaderFooter/Footer.ejs %>