<% include ./HeaderFooter/Header.ejs %>

<div id="section" class="col">
    <div class="container">
    <section>
		<article style="margin-top:150px;margin-left:8% ">
		<script></script>
			<iframe src="/print-nuxt" scrolling="no" frameborder="0"
			    style="width:90%;height:500px"></iframe>
        </article>
    </section>
    </div>
</div>
<% include ./HeaderFooter/Footer.ejs %>