<% include ./HeaderFooter/Header.ejs %>

<div id="section">
    <section>
        <article>
                <iframe id="nuxt-frame" src="/print-nuxt" scrolling="no" frameborder="0"></iframe>
        </article>
    </section>
</div>
<% include ./HeaderFooter/Footer.ejs %>

<style>
#nuxt-frame{
    margin-top:100px;
    margin-left:10vw;
    width:830px;
    height:2000px;
}
</style>