<% include ./HeaderFooter/Header.ejs %>
<link href=/vue-static/css/app.b1e21dd942b1f46b17362cc7b41c874c.css rel=stylesheet><div id=section class=col>
    <div class=container>
    <section>
		<article style="margin-top:60px; margin-left:25%">
			<div id=app></div>
			
		</article>

	</section>
	</div>
</div><script type=text/javascript src=/vue-static/js/manifest.89e3e316648b062af816.js></script><script type=text/javascript src=/vue-static/js/vendor.1490d6366d57956fa919.js></script><script type=text/javascript src=/vue-static/js/app.f03198069dc70d47dc82.js></script>
<% include ./HeaderFooter/Footer.ejs %>