<% include ./HeaderFooter/Header.ejs %>
<link href=/vue-static/css/app.ff80b4dbf4ef1361d8aa1f5656c590c3.css rel=stylesheet><div id=section class=col>
    <div class=container>
    <section>
		<article style="margin-top:60px; margin-left:25%">
			<div id=app></div>
			
		</article>

	</section>
	</div>
</div><script type=text/javascript src=/vue-static/js/manifest.89e3e316648b062af816.js></script><script type=text/javascript src=/vue-static/js/vendor.c8a965d83b248069e9d3.js></script><script type=text/javascript src=/vue-static/js/app.1a2d0ca4c2ef05629817.js></script>
<% include ./HeaderFooter/Footer.ejs %>