<head><link href=/vue-static/css/app.95354786771ccd1fc35e42dc115d73e1.css rel=stylesheet></head><div id=section class=col>
    <div class=container>
    <section>
		<article style="margin-top:60px; margin-left:25%">
			<div id=app></div>
			
		</article>

	</section>
	</div>
</div><script type=text/javascript src=/vue-static/js/manifest.89e3e316648b062af816.js></script><script type=text/javascript src=/vue-static/js/vendor.1490d6366d57956fa919.js></script><script type=text/javascript src=/vue-static/js/app.bfb054d7e2ab694c97fe.js></script>