@charset "utf-8";

* {
    margin: 0;
	padding: 0;
	font-family: 'Titillium Web', sans-serif;
}

#header {
	height: 55px;
	background:linear-gradient(to bottom, #665089, #563d7c, #4d366f);
}
#header > header {
	position: absolute;
	left:30px;
	font-size:220%;
}
#header > #git-link {
	position: absolute;
	left : 95%;
	font-size:220%;
}
#toggle-img{
	width:40px;
	border:3px solid white;
}
#dropdown{
	position: absolute;
	left:82%;
}

#header > header > a:link {text-decoration: none;color:white;}
#header > header > a:visited {text-decoration: none;color:white;}
#header > header > a:active {text-decoration: none; color:#0080FF;}
#header > header > a:hover {text-decoration: none; color:#0080FF;}
#header > a:link {text-decoration: none;color:white;}
#header > a:visited {text-decoration: none;color:white;}
#header > a:active {text-decoration: none; color:#0080FF;}
#header > a:hover {text-decoration: none; color:#0080FF;}

#nav {
	display:none;
}