<!DOCTYPE html>
<html lang="KO">
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title><%=title%></title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

<link rel="stylesheet" media="all and (min-width:961px)" href="./static/full_screen.css" />
<link rel="stylesheet" media="all and (max-width:960px)" href="./static/harf_screen.css" />
</head>

<body>
<div class="container-fluid">
    <div class="row">
      <div id="header" class="col-md-12">
		<header class="text-white">
		  <a href="/">MARU Developer</a>
		</header>
		<a id="git-link" href="#"><i class="fab fa-github"></i></a>
      </div>
    </div>
    <div class="row">
      <div id="nav">
	  	  <nav class="text-white">
			<img id='face-img' class="img-thumbnail rounded-circle" src="./static/face_img_160.png">
			<ul>
				<li>
				  <a href="#">Introduction</a>
				</li>
				<!-- 프레지 API -->
				<!-- 포트폴리오 취지 : 여태 배운 내용을 다시 정리 -->
				<!-- 사용한 개발 환경 및 도구 -->
				<!-- 포트폴리오에 사용된 각종 라이브러리 열거 -->
				<li>
				  <a href="/passport_mysql">Passport & Mysql</a>
				</li>

				<li>
				  <a href="/googlemap_mongodb">GoogleMap API & MongoDB</a>
				</li>
				<!-- 핵심 코드 열거 -->
				<li>
				  <a href="#">VUE & socket.io</a>
				</li>
				<!-- none SSR mode -->
				<!-- 1:1 / 그룹 채팅 기능 -->
				<!-- 접속자 확인 메커니즘 확인 -->
				<!-- 핵심 코드 열거 -->
				<li>
				  <a href="#">VUE & NUXT</a>
				</li>
				<!-- 핵심 코드 열거 -->
			</ul>
			<footer>
			  <p>
			    Copyright 2018. Maru Developer. All rights reserved.<br>
			    Business E-mail : c.moon9@outlook.com<br>
			    Blog : <a href="http://www.maruware.co.kr/">www.maruware.co.kr</a>(SM-카테고리 참조)
			  </p>
		    </footer>
		</nav>
	  </div>